    .ctrl_button{
      margin-bottom: 5px;
    }

    .ctrl_del_button{
      margin-top: 45px;
    }
    
    .already_answered {
      color: green;
      list-style-image: url('../images/ok.gif');
    }
    .already_answered:hover {
      color: black;
      background-color: lightgreen;
      list-style-image: url('../images/ok.gif');
    }
    
    .not_answered_yet {
      color: brown;
      list-style-image: url('../images/not1.png');
    }

    .dfbox120 {
      background-color: rgba(240, 240, 250, 0.5);
      background: white\9;
      height: 120px;
      overflow: auto;
    }
    
    .dfcontrol {
      background-color: rgba(255,64,64,0.5);
      background: rgba(255,128,128)\9;
    }

    .dfdocs {
      height: 160px;
      background-color: rgba(235, 235, 255, 0.6);
      background: lightgreen\9;
      overflow: auto;
    }
    
    .dfdocrow {
      background-color: rgba(205, 225, 225, 0.7);
      background: lightgrey\9;
      border-radius: 5px;
      border: 1px dashed #999999;
    }
    .dfeventrow {
      background-color: rgba(235, 225, 205, 0.7);
      background: gold\9;
      border-radius: 5px;
      border: 1px dashed green;
    }
    
    .dfdescr {
      background-color: rgba(175, 195, 195, 0.1);
      background: lightblue\9;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .dfrespondents {
      height: 160px;
      background-color: rgba(220, 220, 255, 0.7);
      overflow: auto;
      word-wrap: break-word;
    }
    
    .dfattention {
      color: black;
      background-color: rgba(255,64,64,0.4);
      background-color: pink\9;
      border: 1px solid red;
    }
    
    .absent_value {
      color: #AAAAAA;
    }
    
    .dfminicontent {
      font-size: 8pt;
      font-family: Arial;
      font-weight: bold;
    }
    
    .dfminicontenthead {
      font-size: 8pt;
      font-family: Arial;
      font-style: italic;
    }
    
    .flowdescr {
      font-size: 10pt;
      margin-top: 10px;
    }
    
    .flowname {
      font-size: 16pt;
      margin: -5px;
    }
    
    .AnswerDocField {
      margin-left: 0px !important;
    }
    
    .answer_doc_block{
      margin-left: 0px !important;
      margin-bottom: 15px;
    }
